<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>类别管理</title>
  <link rel="stylesheet" href="css/lib/iconfont/material-icons.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/pageFraming.css" type="text/css">
  <link rel="stylesheet" href="css/pageSwitcher.css" type="text/css">
  <link rel="stylesheet" href="css/treeView.css" type="text/css">
  <link rel="stylesheet" href="css/category.css" type="text/css">
  <link rel="stylesheet" href="css/loginBoard.css" type="text/css">
  <style media="screen">
    #configIntroMain table {
      border: 1px solid grey;
      border-collapse: collapse;
    }

    #configIntroMain table th,
    #configIntroMain table td {
      border: 1px solid grey;
      padding: 8px;
    }
  </style>
</head>

<body>
  <%include('../include/navigator.htm',{"activePage":"category"})%>
  <div id="breadcrumb">
    <div id="breadcrumbInner">
      <span class="material-icons">home</span>
      <span>兴趣点管理</span>
      <span class="material-icons">navigate_next</span>
      <a class="breadcrumbItem" href="category.html">类别管理</a>
    </div>
  </div>
  <div id="mainBody">
    <div id="categoryTreeBoard">
      <div id="categoryTreeBoardMain">
        <div id="categoryTreeSearchRow">
          <div id="categoryTreeSearchRowInner">
            <form action="javascript:;" onsubmit="searchSubmit(this);">
              <!-- <label for="portalSelect">选择门户：</label> -->
              <select id="portalSelect" name="portalId" title="订阅门户选择">
                <option value="">＜ 全部 ＞</option>
                <option value="0">[默认门户]</option>
              </select>
              <input type="button" id="createEventButton" value="添加顶级类别" onclick="addCategory(0);" class="plainButton" />
              <!-- <input type="button" id="deleteEventButton" value="删除" onclick="deleteCategory();" class="plainButton" /> -->
            </form>
          </div>
        </div>
        <div id="categoryTree">
          <div id="categoryTreeBody" class="treeContainer">
          </div>
        </div>
      </div>
    </div>
    <div id="categoryContentBoard">
      <div id="categoryContentBoardInner">
        <ul id="tabSwitcher" class="tabSwitcher clearFixAfter">
          <li data-page="categoryView">类别预览</li>
          <li data-page="categoryEdit">类别编辑</li>
          <li data-page="categoryAdd">类别添加</li>
          <li data-page="configIntro" class="current">配置说明</li>
        </ul>
        <div id="categoryViewPage" class="tabPageBody" style="display:none">
          <div id="contentDetailMain" class="contentMain">
            请在左侧类别树选择节点预览。
          </div>
        </div>
        <div id="categoryEditPage" class="tabPageBody" style="display:none">
          <div id="contentEditMain" class="contentMain">
            请在左侧类别树选择节点编辑。
          </div>
        </div>
        <div id="categoryAddPage" class="tabPageBody" style="display:none">
          <div id="contentAddMain" class="contentMain">
            请在左侧类别树选择节点添加。
          </div>
        </div>
        <div id="configIntroPage" class="tabPageBody">
          <div id="configIntroMain" class="contentMain">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <%include('../include/categoryNodePickupBoard.htm')%>
  <%include('../include/loginBoard.htm')%>
  <%include('../include/categoryTemplate.htm')%>
  <script type="text/javascript" src="js/compile-less/map_config.js"></script>
  <script type="text/javascript" src="js/category.bundle.js"></script>
</body>

</html>
