<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>云匠心</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/loginBoard.css" type="text/css">
</head>

<body>
  <div id="mainBody">
    <div id="indexMainBody">
      <header>
        <h1>云匠心</h1>
      </header>
      <div id="indexNav">
        <ul>
          <li>
            <a href="theory/">基础理论</a>
          </li>
          <li>
            <a href="technic/">实操技能</a>
          </li>
          <li>
            <a href="insight/">内观</a>
          </li>
          <li>
            <a href="practice/">探索</a>
          </li>
          <li>
            <a href="about.html">关于</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--%include('../include/loginBoard.htm')%-->
  <script type="text/javascript" src="js/compile-less/map_config.js"></script>
  <script type="text/javascript" src="js/index.bundle.js"></script>
</body>

</html>