<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>云匠心</title>
  <link rel="stylesheet" href="css/lib/iconfont/css/all.css" type="text/css">
  <!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
  <link rel="stylesheet" href="css/loginBoard.css" type="text/css">
</head>

<body>
  <div id="breadcrumb">
    <div id="breadcrumbInner">
      <span class="material-icons md-home"></span>
    </div>
  </div>
  <%include('../include/navigator.htm',{"activePage":null})%>
  <div id="mainBody">
  </div>
  <%include('../include/loginBoard.htm')%>
  <script type="text/javascript" src="js/compile-less/map_config.js"></script>
  <script type="text/javascript" src="js/index.bundle.js"></script>
</body>

</html>
