<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>云匠心</title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
  <link rel="stylesheet" href="css/loginBoard.css" type="text/css">
</head>

<body>
  <div id="breadcrumb">
    <div id="breadcrumbInner" style="font-variation-settings: 'FILL' 1">
      <span class="material-symbols-outlined">home</span>
    </div>
  </div>
  <%include('../include/navigator.htm',{"activePage":null})%>
  <div id="mainBody">
  </div>
  <%include('../include/loginBoard.htm')%>
  <script type="text/javascript" src="js/compile-less/map_config.js"></script>
  <script type="text/javascript" src="js/index.bundle.js"></script>
</body>

</html>
