<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>云匠心</title>
  <link rel="stylesheet" href="css/lib/iconfont/material-icons.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/pageFraming.css" type="text/css">
  <link rel="stylesheet" href="css/pageSwitcher.css" type="text/css">
  <link rel="stylesheet" href="css/loginBoard.css" type="text/css">
</head>

<body>
  <header>
    <div id="headerLeft">
      <div id="logo">
        云匠心
      </div>
      <%include('src/include/navigator.htm',{"activePage":""})%>
    </div>
    <div id="headerRight">
      <div id="searchBox"></div>
      <div id="memberBox"></div>
    </div>
    <div class="bottomLine"></div>
  </header>
  <div id="breadcrumb">
    <div id="breadcrumbInner">
      <span class="material-icons">home</span>
      <span>家</span>
      <span class="material-icons">navigate_next</span>
      <a class="breadcrumbItem" href="index.html">首页</a>
    </div>
  </div>
  <div id="mainBody">
    <!-- @@content -->
  </div>
  <%include('src/include/loginBoard.htm')%>
    <script type="text/javascript" src="js/compile-less/map_config.js"></script>
</body>

</html>