<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title><!-- @@title --></title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/loginBoard.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div id="headerWrapper">
    <header>
      <div class="navLine">
        <a href="/" id="logo">
          <h2>云匠心</h2>
        </a>
        <!--%include('src/include/navigator.htm',{"activePage":""})%-->
      </div>
    </header>
  </div>
  <div id="mainBodyWrapper">
    <div id="mainBody">
      <div class="@@foldersContentDisplayClass">
        <h3>子目录</h3>
        <!-- @@foldersContent -->
      </div>
      <div class="@@articlesContentDisplayClass">
        <h3>章节</h3>
        <!-- @@articlesContent -->
      </div>
    </div>
  </div>
  <div id="footerWrapper">
    <footer>
      邮箱: antield[at]126.com
    </footer>
  </div>
  <!--%include('src/include/loginBoard.htm')%-->
  <script type="text/javascript" src="js/compile-less/map_config.js"></script>
</body>

</html>